Source: apihound
Section: misc
Priority: optional
Maintainer: SpecterOps <info@specterops.io>
Build-Depends:
 ca-certificates,
 debhelper-compat (= 13),
 golang-any,
 dh-golang,
 wget,
 yarnpkg,
Homepage: https://github.com/specterops/apihound
XS-Go-Import-Path: github.com/specterops/apihound

Package: apihound
Architecture: amd64 arm64
Depends: postgresql-17, curl, jq, sed
Recommends: apihound-sharphound, apihound-azurehound
Description: Six Degrees of Domain Admin, APIHound CE
 This package contains APIHound Community Edition.
 .
 APIHound uses graph theory to reveal the hidden and often unintended
 relationships within an Active Directory, Entra and Azure environment.
 Attackers can use APIHound to easily identify highly complex Attack
 Paths that would otherwise be impossible to identify quickly, and
 defenders can use APIHound to identify and eliminate those same
 Attack Paths. APIHound helps blue and red teams better understand
 privileged relationships in an Active Directory, Entra, and Azure environments.
